<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a routerLinkActive="active" routerLink="/"> Home</a>
        <a routerLinkActive="active" routerLink="/page1"> About</a>
        <a routerLinkActive="active" routerLink="/page2"> Blog</a>
        <a routerLinkActive="active" routerLink="/page3"> Portfolio</a>
        <a routerLinkActive="active" routerLink="/page4"> Contact</a>
        <div class="animation start-home"></div>
    </nav>
</body>

</html>